<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aneurinc.sportsplayer">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:name="com.aneurinc.sportsplayer.App"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.aneurinc.sportsplayer.core.navigation.RouteActivity"
                  android:noHistory="true"
                  android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.aneurinc.sportsplayer.features.athletes.AthletesActivity"
                android:label="@string/athletes_screen_title">
        </activity>

        <activity
                android:name="com.aneurinc.sportsplayer.features.athletes.AthleteDetailsActivity"
                android:label="@string/athletes_screen_title"
                android:theme="@style/AppTheme.Translucent">
        </activity>

        <activity
                android:name="com.aneurinc.sportsplayer.features.athletes.AthleteVideoPlayerActivity"
                android:configChanges="orientation|screenSize">
        </activity>

        <activity
                android:name="com.aneurinc.sportsplayer.features.login.LoginActivity"
                android:label="@string/login_screen_title">
        </activity>

    </application>

</manifest>